.forgot-password-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-width: 300px;
  min-height: 250px;
  border: 1px solid var(--border-color);
  padding: var(--padding-lg);
}

.forgot-password-form .title {
  margin-bottom: var(--margin-lg);
}

.forgot-password-form .input__container {
  width: 100%;
}

.forgot-password-form__button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.forgot-password-form__link {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.forgot-password-form__submit-button {
  width: 100%;
}
