.new-account-form {
  width: 90%;
  display: block;
  color: var(--text-color);
  margin: var(--margin-lg) 0;
}

.new-account-form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: var(--padding-md);
}

.new-account-form__inner form {
  width: 100%;
}

.new-account-form__inner span {
  font-size: var(--font-xl);
  color: var(--button-color);
}

.new-account-form__button-wrapper {
  display: flex;
  justify-content: space-between;
}
