.support-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  min-height: 100px;
  border: 1px solid var(--border-color);
  padding: var(--padding-lg);
  gap: var(--gap-md);
}

.support-form > * {
  width: 100%;
}

.support-form .title {
  text-align: center;
  margin-bottom: var(--margin-md);
}

.support-form__button {
  margin-top: var(--margin-md);
}
