.bank-card {
  border: 1px solid var(--border-color);
  width: 100%;
  height: 100%;
  color: var(--text-color);
  padding: var(--padding-sm);
  font-size: var(--font-xs);
}

.bank-card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bank-card--expanded {
  margin-top: var(--margin-md);
}

.bank-card--overview {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: var(--gap-sm);
  justify-content: space-between;
}

.bank-card__info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bank-card__password-container {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.bank-card__button-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: var(--margin-lg);
}
