.crypto-lock {
  line-height: 1;
  width: 100%;
  max-width: 500px;
}

.crypto-lock__rows {
  display: flex;
}

.crypto-lock__numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--crypto-lock-color);
}
