.flash-message {
  font-size: var(--font-xs);
  padding: var(--padding-sm);
  width: 100%;
  color: var(--button-text-color);
}

.flash-message--success {
  background-color: var(--success-color);
}

.flash-message--error {
  background-color: var(--error-color);
}
