.flash-message {
  padding: 10px;
  color: var(--text-color);
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
}

.flash-message--success {
  background-color: var(--success-color);
}

.flash-message--error {
  background-color: var(--error-color);
}
