/* hidden-input.css */
.password-input__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.password-input__container .input__field {
  width: 100%;
}

.password-input__button-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: var(--margin-md);
  top: var(--margin-md);
  height: 100%;
  padding: var(--padding-lg) 0;
}

.password-input__button-wrapper .generate-password-button {
  border: none;
  background: none;
  color: var(--text-color);
  font-size: var(--font-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-input__button-wrapper .toggle-visibility-button {
  margin-left: var(--margin-xs);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
