.button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: var(--padding-sm);
  border: none;
  cursor: pointer;
  font-size: var(--font-sm);
  outline: none;
}

.button--hover:hover {
  background-color: var(--button-hover-color);
}
