.input__label {
  display: block;
  margin-bottom: var(--margin-lg);
  color: var(--text-color);
  font-size: var(--font-sm);
}

.input__field {
  width: 100%;
  padding: var(--padding-sm);
  margin-bottom: var(--margin-lg);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--input-color);
  outline: none;
}

.input__container--disabled .input__label {
  color: var(--label-disabled-color, #999); /* Farbe für deaktivierte Labels */
}

.input__container--disabled .input__field {
  color: var(--input-disabled-color, #ccc); /* Farbe für deaktivierten Text */
  background-color: var(
    --input-disabled-bg,
    #f3f3f3
  ); /* Hintergrundfarbe für deaktivierte Felder */
  border: 1px solid var(--input-disabled-border, #ddd); /* Rahmenfarbe für deaktivierte Felder */
}
