.input__container {
  margin-bottom: 16px;
}

.input__label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-color);
}

.input__field {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--input-color);
  outline: none;
}

.input__container--disabled .input__label {
  color: var(--label-disabled-color, #999); /* Farbe für deaktivierte Labels */
}

.input__container--disabled .input__field {
  color: var(--input-disabled-color, #ccc); /* Farbe für deaktivierten Text */
  background-color: var(
    --input-disabled-bg,
    #f3f3f3
  ); /* Hintergrundfarbe für deaktivierte Felder */
  border: 1px solid var(--input-disabled-border, #ddd); /* Rahmenfarbe für deaktivierte Felder */
}
