.textarea__container {
  font-size: var(--font-sm);
  color: var(--text-color);
}

.textarea__label {
  display: block;
  margin-bottom: 8px;
}

.textarea__field {
  width: 100%;
  padding: var(--padding-sm);
  border: 1px solid var(--border-color);
  background-color: var(--input-color);
  outline: none;
}

.textarea__remaining {
  font-size: var(--font-xs);
}
