.textarea__container {
  margin-bottom: 16px;
}

.textarea__label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-color);
}

.textarea__field {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--input-color);
  outline: none;
}

.textarea__remaining {
  color: var(--text-color);
}
