.dashboard-template {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.dashboard-template__section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
