.data-vault-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.data-vault-template__section {
  margin-top: var(--margin-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}
