.register-template {
  margin-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.register-template__section {
  padding: var(--padding-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}
