:root {
  /* Base units */
  --base-size: 16px; /* Basic size that can be scaled */
  --spacing-unit: calc(var(--base-size) * 0.5); /* Base distance unit */

  /* Font sizes */
  --font-xs: calc(var(--base-size) * 0.75);
  --font-sm: var(--base-size);
  --font-md: calc(var(--base-size) * 1.25);
  --font-lg: calc(var(--base-size) * 1.5);
  --font-lx: calc(var(--base-size) * 1.75);
  --font-xl: calc(var(--base-size) * 2);

  /* Paddings */
  --padding-xs: calc(var(--spacing-unit) * 0.75);
  --padding-sm: calc(var(--spacing-unit) * 1);
  --padding-md: calc(var(--spacing-unit) * 1.5);
  --padding-lg: calc(var(--spacing-unit) * 2);

  /* Margins */
  --margin-xs: calc(var(--spacing-unit) * 0.75);
  --margin-sm: calc(var(--spacing-unit) * 1);
  --margin-md: calc(var(--spacing-unit) * 1.5);
  --margin-lg: calc(var(--spacing-unit) * 2);

  /* Gaps */
  --gap-xs: calc(var(--spacing-unit) * 0.75);
  --gap-sm: calc(var(--spacing-unit) * 1);
  --gap-md: calc(var(--spacing-unit) * 1.5);
  --gap-lg: calc(var(--spacing-unit) * 2);

  color-scheme: light dark;
}

.theme-design1 {
  --primary-color: light-dark(#0056b3, #3a8dca);
  --primary-color-hover: light-dark(#004494, #2b3348);
  --background-color: light-dark(#f7f9fc, #1c2029);
  --component-background-color: light-dark(#9ba4b4, #252c41);
  --text-color: light-dark(#2e3440, #d1d1d1);
  --button-color: light-dark(#007bff, #1a74af);
  --button-text-color: light-dark(#ffffff, #d1d1d1);
  --button-hover-color: light-dark(#0056b3, #294b8d);
  --input-background-color: light-dark(#e5e9f0, #2a3147);
  --input-focus-color: light-dark(#88c0d0, #3a8dca);
  --border-color: light-dark(#c3cbd6, #3a3f4b);
  --success-color: light-dark(#15bd4a, #27ae60);
  --warning-color: light-dark(#d08770, #f2c94c);
  --error-color: light-dark(#cd1605, #cd1605);
  --secondary-background-color: light-dark(#dce0e8, #2b3348);
  --secondary-text-color: light-dark(#4c566a, #a3a3a3);
  --crypto-lock-color: light-dark(#6192f0, #00ff00);
  --security-check-positive-color: light-dark(#1a74af, #1a74af);
  --security-check-negative-color: light-dark(#57346b, #57346b);
}

.theme-design2 {
  --primary-color: light-dark(#3a8dca, #0056b3);
  --primary-color-hover: light-dark(#2b3348, #004494);
  --background-color: light-dark(#1c2029, #f7f9fc);
  --component-background-color: light-dark(#252c41, #9ba4b4);
  --text-color: light-dark(#d1d1d1, #2e3440);
  --button-color: light-dark(#1a74af, #007bff);
  --button-text-color: light-dark(#d1d1d1, #ffffff);
  --button-hover-color: light-dark(#294b8d, #0056b3);
  --input-background-color: light-dark(#2a3147, #e5e9f0);
  --input-focus-color: light-dark(#3a8dca, #88c0d0);
  --border-color: light-dark(#3a3f4b, #c3cbd6);
  --success-color: light-dark(#27ae60, #15bd4a);
  --warning-color: light-dark(#f2c94c, #d08770);
  --error-color: light-dark(#cd1605, #cd1605);
  --secondary-background-color: light-dark(#2b3348, #dce0e8);
  --secondary-text-color: light-dark(#a3a3a3, #4c566a);
  --crypto-lock-color: light-dark(#00ff00, #6192f0);
  --security-check-positive-color: light-dark(#1a74af, #1a74af);
  --security-check-negative-color: light-dark(#57346b, #57346b);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100%;
  background-color: var(--background-color);
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--button-text-color);
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--component-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 10px;
  border: 3px solid var(--component-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken(var(--border-color), 10%);
}

/* Debugging Hilfe */
.border {
  border: 1px solid var(--error-color);
}

/* Media Queries für verschiedene Bildschirmgrößen und Orientierungen */
/* Sehr kleine Mobilgeräte (Handys, hochkant) */
@media (max-width: 320px) {
  :root {
    --base-size: 12px;
  }
}

@media (max-width: 479px) {
  :root {
    --base-size: 14px;
  }
}

/* Kleine Mobilgeräte (Handys, quer) */
@media (max-width: 480px) and (orientation: landscape) {
  :root {
    --base-size: 14px;
  }
}

/* Mittelgroße Geräte (Tablets, hochkant) */
@media (min-width: 481px) and (max-width: 768px) {
  :root {
    --base-size: 15px;
  }
}

/* Große Geräte (Tablets, quer) */
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  :root {
    --base-size: 16px;
  }
}

/* Kleinere Laptops */
@media (min-width: 1025px) and (max-width: 1366px) {
  :root {
    --base-size: 18px;
  }
}

/* Desktops */
@media (min-width: 1367px) and (max-width: 1920px) {
  :root {
    --base-size: 20px;
  }
}

/* Großbildschirme und 4K Monitore */
@media (min-width: 1921px) {
  :root {
    --base-size: 22px;
  }
}
